.translatorForm{
  margin-left: 750px;
  margin-right: 750px;
  margin-top: 20px;
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.loginJumbotron{
  margin-bottom: 1000px;
  margin-top: 20px;
  margin-left: 650px;
  margin-right: 650px;
}


.submitBtn{
  margin-top: 10px;
}

.translateBtn{
  float: right;
}

